body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: #F4F6FC;
}

body header, section {
    max-width: 1100px;
    margin: 0 auto;
}

body section, footer {
    margin-top: 130px;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

header {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: baseline;
}

nav {
    width: 300px;
}

header nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

.link-btn {
    display: block;
    width: 90px;
    margin: 40px auto 0 auto;
    padding: 08px 20px;
    flex: 5 1 auto;
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
}

#start-2 {
    display: flex;
    justify-content: space-between;
}

.container-text {
    display: flex;
    flex-direction: column;
}

#start-2 h1 {
    padding: 5px 0;
    font-size: 55px;
    font-weight: bold;
    padding-top: 05px;
    display: flex;
}

#start-2 article {
    font-size: 20px;
    padding-bottom: 50px;
    color: rgb(66, 66, 66);
}

#start-2 a {
    padding: 15px 30px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}

.container-man {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 600px;
    height: 600px;

    background-image: url("assets/hero-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.container-man img {
    width: 270px;
    height: 270px;
    align-self: flex-start;
}

.container-man img:last-of-type {
    padding-top: 176px;
    align-self: flex-end;
}

#blue-btn {
    background-color: blue;
    color: white;
    margin-right: 15px;
}

#white-btn {
    background-color: white;
    color: rgb(66, 66, 66);
}

#section-3 {
    display: flex;
    justify-content: space-between;
}

#section-3 img {
    height: 32px;
    margin-top: 20px;
    padding-left: 10px;
    filter: grayscale(100%);
}

.container {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.recent-box {
    width: 330px;
    height: 440px;
    background-color: white;
}

.boxes {
    width: 330px;
    height: 240px;
    top: 15px;
}


#structure h4 {
    padding-left: 30px;
}

#structure p {
    padding-left: 30px;
    color: rgb(66, 66, 66);
    padding-bottom: 40px;
}

#structure a {
    padding-left: 30px;
    color: blue;
    text-decoration: none;
    padding-bottom: 100px;
}

.black {
    max-width: 1320px;
    height: 622px;
    background-color: #292E47;
    display: flex;
    justify-content: space-between;
}

.coluna1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#faces {
    margin-left: 60px;
    margin-top: 40px;
    margin-right: 60px;
}

.smilles {
    width: 150px;
    height: 150px;
}

#testimonials {
    text-align: center;
    margin: auto;
    margin-top: 90px;
}

#testimonials h2 {
    color: white;
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
    margin: auto;
}

.circle {
    color: yellow;
    margin: 100px auto;
    font-size: 20px;
}

.profile {
    width: 65px;
    height: 65px;
    border-radius: 80%;
}

.midle {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.midle h5 {
    margin-left: 10px;
    color: rgb(44, 133, 133);
    margin-bottom: 2px;
}

.midle p {
    color: white;
    font-size: 10px;
    margin-top: 5px;
    margin-right: 25px;
}

section h2 {
    font-size: 40px;
    line-height: 47px;
    color: #292E47;
    margin: 0;
    margin-bottom: 23px;
}

.container2 {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.recent-box2 {
    width: 300px;
    height: 380px;
    background-color: white;
}

.blueCircle {
    background-color: #F4F6FC;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-top: 30px;
    margin-left: 30px;
}

#structure2 img {
    margin-top: 20px;
    margin-left: 20px;
}

#structure2 h4 {
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 20px;
}

#structure2 p {
    padding-left: 30px;
    color: rgb(66, 66, 66);
    padding-bottom: 30px;
    font-size: 15px;
}

#structure2 a {
    padding-left: 30px;
    color: blue;
    text-decoration: none;
}

#bigYellow {
    max-width: 1320px;
    height: 500px;
    background-color: rgb(252, 208, 62);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    color: rgb(66, 66, 66);
}

.btn-sectionYell {
    margin-top: 50px;
    display: flex;
}

.btn-sectionYell button {
    background-color: blue;
    color: white;
    border: none;
    height: 60px;
    width: 200px;
    margin-left: 20px;
}

.yellow-text h2 {
    font-size: 40px;
    margin: auto;
}

.yellow-text p {
    font-size: 15px;
}

input {
    padding-left: 10px;
    background-color: white;
    font-size: 16px;
    border: none;
    height: 60px;
    width: 350px;
}

.mail-card {
    background-color: white
}

.mail {
    margin-top: 15px;
    margin-left: 15px;
}

footer {
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.footer-circle {
    margin: auto;
    display: block;
    width: 300px;
    margin-left: 200px;
}

.footer-circle img {
    padding-top: 30px;
    width: 100px;
}

.footer-circle p {
    padding-top: 20px;
    font-size: 15px;
    color: rgb(66, 66, 66);
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.first-column {
    width: 120px;
    margin: auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(66, 66, 66);
}

.first-column p {
    margin-top: 40px;
}

@media screen and (min-width: 768px ) and (max-width:1023px) {


    #start-2 h1 {
        font-size: 30px;
    }

    #start-2 article {
        font-size: 15px;
    }

    #start-2 a {
        font-size: 10px;
        padding: 10px;
    }

    .container-man {
        padding-top: 180px;
        height: 500px;
        margin-left: 60px;
    }

    .man {
        width: 400px;
        height: 400px;
    }

    .blueCard {
        width: 170px;
        height: 230px;
        margin-left: -380px;
        margin-top: -20px;
    }

    .projectOk {
        width: 170px;
        height: 230px;
        margin-top: 250px;
        margin-right: 150px;
    }

    #section-3 {
        display: flex;
        justify-content: space-between;
    }

    #section-3 img {
        width: 100px;
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
    }

    #section-4 h2 {
        font-size: 30px;
        margin-top: 100px;
    }

    .recent-box {
        width: 210px;
        height: 330px;
        background-color: white;
    }

    .boxes {
        width: 210px;
        height: 150px;
        top: 15px;
    }

    .black {
        height: 400px;
        width: 900px;
    }

    .smilles {
        width: 120px;
        height: 120px;
    }

    #testimonials {
        margin-top: 50px;
    }

    #testimonials h2 {
        font-size: 30px;
        margin-top: 20px;
    }

    .circle {
        font-size: 15px;
        margin-top: 50px;
    }

    .profile {
        width: 50px;
        height: 50px;
    }

    .midle h5 {
        margin-top: 10px;
        font-size: 10px;
    }

    .midle p {
        font-size: 8px;
        margin-left: 12px;
    }

}
    