body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: #F4F6FC;
}

body header, section {
    max-width: 1100px;
    margin: 0 auto;
}

body section, footer {
    margin-top: 130px;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

header {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: baseline;
}

nav {
    width: 300px;
}

header nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

.link-btn {
    display: block;
    width: 90px;
    margin: 40px auto 0 auto;
    padding: 08px 20px;
    flex: 5 1 auto;
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
    
}

#principal {
    display: flex;
    justify-content: space-between;
}

.principalContainerText {
    display: flex;
    flex-direction: column;
}

#principal h1 {
    padding: 5px 0;
    font-size: 55px;
    font-weight: bold;
    padding-top: 05px;
    display: flex;
}

#principal article {
    font-size: 20px;
    padding-bottom: 50px;
    color: rgb(66, 66, 66);
}

#principal a {
    padding: 15px 30px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 600px;
    height: 600px;

    background-image: url("assets/hero-image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.hero img {
    width: 270px;
    height: 270px;
    align-self: flex-start;
}

.hero img:last-of-type {
    padding-top: 176px;
    align-self: flex-end;
}

#blue-btn {
    background-color: blue;
    color: white;
    margin-right: 15px;
}

#white-btn {
    background-color: white;
    color: rgb(66, 66, 66);
}

#client {
    display: flex;
    justify-content: space-between;
}

#client img {
    height: 32px;
    margin-top: 20px;
    padding-left: 10px;
    filter: grayscale(100%);
}

.containerProject {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.box {
    width: 330px;
    height: 440px;
    background-color: white;
}

.box-img {
    width: 330px;
    height: 240px;
    top: 15px;
}


#structureProject h4 {
    padding-left: 30px;
}

#structureProject p {
    padding-left: 30px;
    color: rgb(66, 66, 66);
    padding-bottom: 40px;
}

#structureProject a {
    padding-left: 30px;
    color: blue;
    text-decoration: none;
    padding-bottom: 100px;
}

.black-box {
    max-width: 1320px;
    height: 622px;
    background-color: #292E47;
    display: flex;
    justify-content: space-between;
}

.faces-colun {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#faces {
    margin-left: 60px;
    margin-top: 40px;
    margin-right: 60px;
}

.smilles {
    width: 150px;
    height: 150px;
}

#testimonials {
    text-align: center;
    margin: auto;
    margin-top: 90px;
}

#testimonials h2 {
    color: white;
    font-size: 40px;
    margin-top: 10px;
    text-align: center;
    margin: auto;
}

.circle {
    color: yellow;
    margin: 100px auto;
    font-size: 20px;
}

.profile {
    width: 65px;
    height: 65px;
    border-radius: 80%;
}

.midle {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.midle h5 {
    margin-left: 10px;
    color: rgb(44, 133, 133);
    margin-bottom: 2px;
}

.midle p {
    color: white;
    font-size: 10px;
    margin-top: 5px;
    margin-right: 25px;
}

section h2 {
    font-size: 40px;
    line-height: 47px;
    color: #292E47;
    margin: 0;
    margin-bottom: 23px;
}

.services-container {
    display: flex;
    position: relative;
    justify-content: space-between;
    
}

.card-services{
    width: 300px;
    height: 380px;
    background-color: white;
}

.blueCircle {
    background-color: #F4F6FC;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-top: 30px;
    margin-left: 30px;
}

#services img {
    margin-top: 20px;
    margin-left: 20px;
}

#services h4 {
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 30px;
    font-size: 20px;
}

#services p {
    padding-left: 30px;
    color: rgb(66, 66, 66);
    padding-bottom: 30px;
    font-size: 15px;
}

#services a {
    padding-left: 30px;
    color: blue;
    text-decoration: none;
}

#bigYellow {
    max-width: 1320px;
    height: 500px;
    background-color: rgb(252, 208, 62);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    color: rgb(66, 66, 66);
}

.btn-sectionYell {
    margin-top: 50px;
    display: flex;
}

.btn-sectionYell button {
    background-color: blue;
    color: white;
    border: none;
    height: 60px;
    width: 200px;
    margin-left: 20px;
}

.yellow-text h2 {
    font-size: 40px;
    margin: auto;
}

.yellow-text p {
    font-size: 15px;
}

input {
    padding-left: 10px;
    background-color: white;
    font-size: 16px;
    border: none;
    height: 60px;
    width: 350px;
}

.mail-card {
    background-color: white
}

.mail {
    margin-top: 15px;
    margin-left: 15px;
}

footer {
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.footer-circle {
    margin: auto;
    display: block;
    width: 300px;
    margin-left: 200px;
}

.footer-circle img {
    padding-top: 30px;
    width: 100px;
}

.footer-circle p {
    padding-top: 20px;
    font-size: 15px;
    color: rgb(66, 66, 66);
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.first-column {
    width: 120px;
    margin: auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(66, 66, 66);
}

.first-column p {
    margin-top: 40px;
}

@media screen and (min-width: 998px ) and (max-width:1023px) {

    header {
        justify-content:space-around;
    }
    #principal {
        display: flex;
        justify-content: center     
    }
    .principalContainerText{
        padding-top: 30px;
    }
    
    #principal h1 {
        font-size: 40px;
    }
    
    #principal article {
        font-size: 10px;
    }
    
    #principal a {
        font-size: 10px;
    }
    
    .hero {
        width: 450px;
        height: 450px;
    }
    
    .hero img {
        width: 200px;
        height: 200px;
    }
    
    .hero img:last-of-type {
        padding-top: 120px;
    }

    #client {
        justify-content: space-around;
    }
    
    #client img {
        height: 28px;
        padding-left: 20px;
        padding-right: 20px;  
    }

    section h2 {
        font-size: 30px;
        padding-left: 40px;  
    }
    
    .containerProject {
        justify-content: space-around;
        padding-left: 20px;
        padding-right: 20px;  
    }
    
    .box {
        width: 280px;
        height: 400px;
        background-color: white;
    }
    
    .box-img {
        width: 280px;
        height: 220px;
        top: 15px;
    }

    #structureProject h4 {
        padding-left: 10px;
        font-size: 20px;    
    }
    
    #structureProject p {
        padding-left: 10px;
        font-size: 15px;   
    }
    
    #structureProject a {
        padding-left: 10px;
    }

    .services-container {
        justify-content: space-around;
        padding-left: 20px;
        padding-right: 20px;    
    }
    
    .card-services{
        width: 280px;
        height: 360px;
    }   
    
    #services img {
        margin-top: 20px;
        margin-left: 20px;
    }
    
    #services h4 {
       font-size: 20px;
    }
    
    #services p {
        font-size: 15px;
    }

    
    .footer-circle {
        margin: auto;
        display: block;
        width: 300px;
    }
    
    .footer-circle img {
        padding-top: 30px;
        width: 100px;
    }
    
    .footer-circle p {
        padding-top: 20px;
        font-size: 15px;
        color: rgb(66, 66, 66);
    }
    
    .footer-columns {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
}

@media screen and (min-width: 778px ) and (max-width:998px){
    header {
        justify-content:space-around;
    }
    #principal {
        display: flex;
        justify-content: center     
    }
    .principalContainerText{
        padding-top: 30px;
    }
    
    #principal h1 {
        font-size: 30px;
    }
    
    #principal article {
        font-size: 10px;
    }
    
    #principal a {
        font-size: 10px;
    }
    
    .hero {
        width: 400px;
        height: 400px;
    }
    
    .hero img {
        width: 180px;
        height: 180px;
    }
    
    .hero img:last-of-type {
        padding-top: 130px;
    }

    #client {
        justify-content: space-around;
    }
    
    #client img {
        height: 28px;
        padding-left: 20px;
        padding-right: 20px;  
    }

    section h2 {
        font-size: 25px;
        padding-left: 40px;  
    }
    
    .containerProject {
        justify-content: space-around;
        padding-left: 30px;
        padding-right: 30px;  
    }
    
    .box {
        width: 220px;
        height: 390px;
        background-color: white;
    }
    
    .box-img {
        width: 220px;
        height: 240px;
        top: 15px;
    }

    #structureProject h4 {
        padding-left: 10px;
        font-size: 15px;    
    }
    
    #structureProject p {
        padding-left: 10px;
        font-size: 13px;   
    }
    
    #structureProject a {
        padding-left: 10px;
    }

    .black-box {
        height: 500px;   
    }
    
    .smilles {
        width: 150px;
        height: 150px;
    }
    
    #testimonials h2 {
        font-size: 25px;
        padding-left: 0px; 
        padding-top: 0px;  
    }
    
    .circle {
        font-size: 10px;
    }
    
    .profile {
        width: 50px;
        height: 50px;
    }
    
    .midle h5 {
        margin-top: 10px;
    }

    .services-container {
        justify-content: space-around;
        padding-left: 30px;
        padding-right: 30px;    
    }
    
    .card-services{
        width: 220px;
        height: 320px;
    }   
    
    #services img {
        margin-top: 20px;
        margin-left: 20px;
    }
    
    #services h4 {
       font-size: 15px;
       padding-left: 5px;
    }
    
    #services p {
        font-size: 13px;
        padding-left: 5px;
    }

    #services a{
        padding-left: 5px;
    }

    footer{
        text-align: center;
    }
        
    .footer-circle {
        text-align: left;
        margin: auto;
        width: 200px;
    }
    
    .footer-circle img {
        padding-top: 30px;
        width: 100px;
    }
    
    .footer-circle p {
        padding-top: 20px;
        font-size: 13px;
        color: rgb(66, 66, 66);
    }
    
    .footer-columns {
        margin-top: 70px;
    }
    .first-column p{
        font-size: 13px;
    }
   
    
}


    /*#start-2 h1 {
        font-size: 30px;
    }

    #start-2 article {
        font-size: 15px;
    }

    #start-2 a {
        font-size: 10px;
        padding: 10px;
    }

    .container-man {
        padding-top: 180px;
        height: 500px;
        margin-left: 60px;
    }

    .man {
        width: 400px;
        height: 400px;
    }

    .blueCard {
        width: 170px;
        height: 230px;
        margin-left: -380px;
        margin-top: -20px;
    }

    .projectOk {
        width: 170px;
        height: 230px;
        margin-top: 250px;
        margin-right: 150px;
    }

    #section-3 {
        display: flex;
        justify-content: space-between;
    }

    #section-3 img {
        width: 100px;
        padding-left: 20px;
        display: flex;
        justify-content: space-between;
    }

    #section-4 h2 {
        font-size: 30px;
        margin-top: 100px;
    }

    .recent-box {
        width: 210px;
        height: 330px;
        background-color: white;
    }

    .boxes {
        width: 210px;
        height: 150px;
        top: 15px;
    }

    .black {
        height: 400px;
        width: 900px;
    }

    .smilles {
        width: 120px;
        height: 120px;
    }

    #testimonials {
        margin-top: 50px;
    }

    #testimonials h2 {
        font-size: 30px;
        margin-top: 20px;
    }

    .circle {
        font-size: 15px;
        margin-top: 50px;
    }

    .profile {
        width: 50px;
        height: 50px;
    }

    .midle h5 {
        margin-top: 10px;
        font-size: 10px;
    }

    .midle p {
        font-size: 8px;
        margin-left: 12px;
    }

}*/
    