body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background: #F4F6FC;
}

body header,
section,
.navigation {
    max-width: 1100px;
    margin: 0 auto;
}

body section,
footer {
    margin-top: 130px;
}

.padre {
    display: flex;
    flex-flow: column nowrap;
}

header {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: baseline;
}

nav {
    width: 300px;
}

header nav {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: rgb(66, 66, 66);
}

section h2 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-left: 30px;

}


.link-btn {
    display: block;
    width: 90px;
    margin: 40px auto 0 auto;
    padding: 08px 20px;
    flex: 5 1 auto;
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5px;
    text-align: center;
    text-decoration: none;
}

.navigation {
    display: none;
}


h1 {
    margin: auto;
    font-size: 30px;
    margin-bottom: 23px;

}

.container-text {
    line-height: 47px;
    color: #292E47;
    margin: 0;
    margin-bottom: 23px;
    display: flex;
    justify-content: space-between;

}

.container-text p {
    font-size: 24px;
}

.container-text p b {
    color: rgb(87, 86, 86);
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.date-project {
    color: rgb(167, 162, 162);
}

.bigImgPage {
    margin: auto;
    width: 1100px;
    height: 444px;
    display: flex;
    justify-content: center;
}

.pageText {
    justify-content: center;
    margin-top: 70px;
    font-size: 20px;
}

.containerProject {
    display: flex;
    position: relative;
    justify-content: space-between;
}

.box {
    width: 330px;
    height: 440px;
    background-color: white;
    box-shadow: 5px 5px 5px #888;
    box-sizing: border-box;

}

.box-img {
    width: 330px;
    height: 240px;
    top: 15px;
}

section h1 {
    font-size: 60px;
}

#structureProject h4 {
    padding-left: 30px;
    font-size: 24px;

}

#structureProject p {
    padding-left: 30px;
    color: rgb(66, 66, 66);
    padding-bottom: 40px;
    font-size: 17px;
}

#structureProject a {
    padding-left: 30px;
    color: blue;
    text-decoration: none;
    padding-bottom: 100px;
    font-size: 17px;
}

#bigYellow {
    max-width: 1320px;
    height: 500px;
    background-color: rgb(252, 208, 62);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    color: rgb(66, 66, 66);
}

.btn-sectionYell {
    margin-top: 50px;
    display: flex;
}

.btn-sectionYell button {
    background-color: blue;
    color: white;
    border: none;
    height: 60px;
    width: 200px;
    margin-left: 20px;
}

.yellow-text h2 {
    font-size: 40px;
    margin: auto;
}

.yellow-text p {
    font-size: 15px;
}

input {
    padding-left: 10px;
    background-color: white;
    font-size: 16px;
    border: none;
    height: 60px;
    width: 350px;
}

.mail-card {
    background-color: white
}

.mail {
    margin-top: 15px;
    margin-left: 15px;
}

footer {
    height: 300px;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.footer-circle {
    margin: auto;
    display: block;
    width: 100%;
    margin-left: 100px;
}

.footer-circle img {
    padding-top: 30px;
    width: 100px;
}

.footer-circle p {
    padding-top: 20px;
    font-size: 15px;
    color: rgb(66, 66, 66);
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    margin-right: 100px;
}

.first-column {
    width: 120px;
    margin: auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(66, 66, 66);
}

.first-column p {
    margin-top: 40px;
}

@media screen and (min-width: 998px) and (max-width:1145px) {

    header {
        justify-content: space-around;
    }

    .navigation {
        display: none;
    }

    section h2 {
        font-size: 30px;
        padding-left: 40px;
    }

    h1 {
        padding: 0 100px;
    }

    .container-text {
        padding: 0 100px;
    }

    .container-text p {
        font-size: 24px;
    }

    .container-text p b {
        color: rgb(87, 86, 86);
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    .date-project {
        color: rgb(167, 162, 162);
    }

    .bigImgPage {
        margin: auto;
        width: 900px;
        height: 444px;
        display: flex;
        justify-content: center;

    }

    .pageText {
        justify-content: center;
        margin: 70px 100px;
        font-size: 18px;
    }

    .containerProject {
        justify-content: space-around;
        padding-left: 20px;
        padding-right: 20px;
    }

    .box {
        width: 280px;
        height: 400px;
        background-color: white;
    }

    .box-img {
        width: 280px;
        height: 220px;
        top: 15px;
    }

    #structureProject h4 {
        padding-left: 10px;
        font-size: 20px;
    }

    #structureProject p {
        padding-left: 10px;
        font-size: 15px;
    }

    #structureProject a {
        padding-left: 10px;
    }


    .footer-circle {
        margin: auto;
        display: block;
        width: 100%;
        margin-left: 100px;
    }

    .footer-circle img {
        padding-top: 30px;
        width: 100px;
    }

    .footer-circle p {
        padding-top: 20px;
        font-size: 15px;
        color: rgb(66, 66, 66);
    }

    .footer-columns {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 100%;
        margin-right: 90px;
    }

}


@media screen and (min-width: 777px) and (max-width:998px) {
    header {
        justify-content: space-around;

    }

    .navigation {
        display: none;
    }

    section h2 {
        font-size: 25px;
        padding-left: 40px;
    }

    h1 {
        padding: 0 70px;
        font-size: 40px;
    }

    .container-text {
        padding: 0 70px;
    }

    .container-text p {
        font-size: 20px;
    }

    .container-text p b {
        color: rgb(87, 86, 86);
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    .bigImgPage {
        margin: auto;
        width: 800px;
        height: 444px;
        display: flex;
        justify-content: center;

    }

    .pageText {
        justify-content: center;
        margin: 70px 70px;
        font-size: 15px;
    }

    .containerProject {
        justify-content: space-around;
        padding-left: 30px;
        padding-right: 30px;
    }

    .box {
        width: 220px;
        height: 390px;
        background-color: white;
    }

    .box-img {
        width: 220px;
        height: 230px;
        top: 15px;
    }

    #structureProject h4 {
        padding-left: 10px;
        font-size: 15px;
    }

    #structureProject p {
        padding-left: 10px;
        font-size: 13px;
    }

    #structureProject a {
        padding-left: 10px;
    }

    footer {
        text-align: center;
    }

    .footer-circle {
        margin: auto;
        display: block;
        width: 100%;
        margin-left: 100px;
    }

    .footer-circle img {
        padding-top: 30px;
        width: 100px;
    }

    .footer-circle p {
        padding-top: 20px;
        font-size: 13px;
        color: rgb(66, 66, 66);
    }

    .footer-columns {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 100%;
        margin-right: 90px;
    }

    .first-column p {
        font-size: 13px;
    }

}


@media screen and (max-width:777px) {

    header {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        gap: 150px;
    }

    header nav {
        display: none;
    }

    .link-btn {
        display: block;
        width: 50px;
        margin: 40px auto 0 auto;
        padding: 08px 10px;
        font-size: 8px;

    }

    .navigation {
        margin-top: 10px;
        width: 300px;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    .navigation a {
        text-decoration: none;
        color: rgb(66, 66, 66);
    }

    section h2 {
        font-size: 40px;
        display: flex;
        justify-content: center;
        margin-left: 30px;
    }

    h1 {
        font-size: 40px;
    }


    .container-text p {
        font-size: 15px;
    }

    .container-text p b {
        color: rgb(87, 86, 86);
        display: flex;
        justify-content: space-between;
        margin: auto;
    }

    .bigImgPage {
        width: 100%;
        height: 400px;
    }

    .pageText {
        justify-content: center;
        margin: 70px 10px;
        font-size: 15px;
    }

    .container-text {
        display: block;
    }

    .containerProject {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .box {
        display: flex;
        width: 100%;
        max-width: 400px;
        height: 690px;
        background-color: white;
        flex-direction: column;
        margin-top: 30px;
    }

    .box-img {
        width: 100%;
        height: 690px;
        top: 15px;
    }

    #structureProject h4 {
        font-size: 30px;
    }

    #structureProject p {
        font-size: 20px;
        padding-top: 8px;
    }

    #structureProject a {
        padding-top: 35px;
        padding-bottom: 15px;
        font-size: 20px;
    }

    #bigYellow {
        width: 100%;
        display: flex;
        height: 400px;
    }

    #bigYellow h2 {
        font-size: 20px;
        justify-content: center;
        text-align: center;
        margin: auto
    }

    .btn-sectionYell {
        margin-top: 40px;
        display: flex;
    }

    .btn-sectionYell button {
        height: 30px;
        width: 100px;
        margin-left: 10px;
    }

    input {
        padding-left: 10px;
        border: none;
        height: 30px;
        width: 200px;
    }

    .mail-card {
        display: none;
    }


    footer {
        display: flex;
        text-align: right;
        margin: auto;
        flex-direction: column;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .footer-circle {
        display: flex;
        justify-content: center;
        text-align: left;
        max-width: 100px;
        width: 100%;
        margin-left: auto;
        gap: 100px;


    }

    .footer-circle img {
        padding-top: 30px;
        width: 50px;
    }

    .footer-circle p {
        padding-top: 20px;
        font-size: 10px;
        color: rgb(66, 66, 66);
    }

    .footer-columns {
        margin-top: 70px;
        margin: 0 auto;
        text-align: center;
    }

    .first-column p {
        font-size: 8px;
        text-align: center;
        color: blue;
        justify-content: space-between;

    }
}